body{
    background-color: #ffddaa;
    margin: 0;
    padding: 0;
}

h2{
    font-family: "Satisfy", cursive;

}
h3, h4, h5, h6, p{
    font-family: "Ancizar Serif", serif;
}

#banner-container{
    position: relative;
    background-color: #325380;
    margin-bottom: 0;
}


nav{
    background-color: #002534;
    text-align: center;
}

.navbar a{
    color: white;
}

.blob-banner{
    background-color: #5d8967;
    height: 350px;
    width: 75%;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    padding: 150px;
    border-radius: 40px;
}

.banner-circle1{
    border-radius: 50%;
    background-color: #618f16;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 70px;
    left: 10%;
}

.banner-circle2{
    border-radius: 50%;
    background-color: #618f16;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 370px;
    right: 10%;
}

#space{
    margin-top: 5%;
    background-color: black;
    height: 5px;
    position: relative;
    bottom: 15px;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;

}

.left-container{
    left:0;

}

.right-container{
    left: 50%;
}

.custom-container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.custom-container:nth-child(1){
    animation-delay: 0s;
}

.custom-container:nth-child(2){
    animation-delay: 1s;
}

.custom-container:nth-child(3){
    animation-delay: 2s;
}

.custom-container:nth-child(4){
    animation-delay: 3s;
}

.custom-container img{
    position: absolute;
    width: 40px;
    
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 4s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }

    100%{
        height: 100%;
    }
}


.text-box{
    padding: 20px 30px;
    background-color: #b8320e;
    position: relative;
    border-radius: 6px;
    font-size: 15px;

}

.text-box h2{
    font-weight: 600;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #b8320e;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #b8320e;
    left: -15px;
}

@media screen and (max-width:600px){
    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box{
        font-size: 13px;
    }

    .text-box small{
        margin-bottom: 10px;
    }

    .right-container{
        left: 0;
    }

    .left-container img, .right-container img{
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow{
        border-radius: 15px solid #b8320e;
        border-left: 0;
        left: -15px;
    }
}

footer{
    background-color: #600e17;
    height: 20%;
    
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding: 10px;
    text-align: center;
}

footer h3{
    margin-top: 20px;
}

#copyright{
    text-align: center;
    color: white;
}