body{
    background-color: #ffddaa;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


h2{
    font-family: "Satisfy", cursive;

}
h3, h4, h5, h6, p{
    font-family: "Ancizar Serif", serif;
}

#banner-container{
    position: relative;
    background-color: #325380;
    margin-bottom: 0;
}

#logo{
    height: 80px;
    width: 80px;
}

nav{
    background-color: #002534;
    text-align: center;
}

.navbar a{
    color: white;
}

.navbar-toggler{
    border-color: white;
}
/* nav{
    position: absolute;
    left: 80%;
    width: 100%;
    z-index: 10;
    padding: 0 !important;
    margin: 0 !important;
    top: 0;
}

.navbar-custom{
    background-color: #325380;
    color: white;
    margin: 0 !important;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 40px;
}

.navbar a{
    color: white;
} */

#banner{
    position: relative;
    background-color: #ffddaa;
    z-index: 1;
    margin: 0;
    padding: 0;
    
}
#banner video{
    margin: 0;
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
    padding: 0;
}

#descrip{
    background-color: #002534;
    color: white;
    padding: 20px 100px 30px 100px;
    text-align: center;
    font-size: 25px;
}

/* #descrip:hover{
    cursor: url("../images/lampNewFF.png"), auto;
} */

#descrip1{
    background-color: #002534;
    color: white;
    padding: 20px 100px 5px 100px;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

#space{
    background-color: black;
    height: 20px;
    position: relative;
    bottom: 15px;
}

#main-2{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

#main-2 h2{
    font-size: 40px;
    margin-bottom: 15px;
}

/* #collage{
    margin-left: 100px;
    width: 400px;
} */

#collage{
    flex: 0 0 30%;
    max-width: 30%;
    height: auto;
}


/* #three-big-words{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

#three-big-words{
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

#three-big-words p{
    background-color: #386b48;
    padding: 20px;
    /* width: 250%; */
    color: white;
    font-size: 1.44em;
    border-radius: 40px;
}


/* @media(max-width: 480px){
    #banner video{
        height: 200px;
    }

    #main-2{
        flex-direction: column;
    }

    #main-2 h2{
        font-size: 40px;
    }

    #three-big-words{
        width: 100%;
        margin-right: 0;
        align-items: center;
    }

    #three-big-words p{
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .line{
        display: none;
    }

    .logos-slide{
        animation:none !important;
    }
} */
  
@keyframes slide {
    from {
        transform: translateX(0 -100%); /*-----starts from 0 and goes to the left 100%-----*/

    }

    to{
        transform: translateX(-100%);
    }
}

.logos{
    margin-top: 30px;
    background-color: #ffddaa;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    z-index: 10;
}

.logos:before, .logos:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before{
    left: 0;
    background: linear-gradient(to left, rgb(255,255,255, 0), #ffddaa  );
}

.logos:after{
    right: 0;
    background: linear-gradient(to right, rgb(255,255,255, 0), #ffddaa  );
}
.logos-slide{
display: inline-block;
    animation: 110s slide infinite linear;
}
.logos-slide img{
    height: 80px;
    margin: 0 ;
}

.trim img{
    margin-top: 50px;
    height: 90px;
    position: relative;
    z-index: 1;
}

.lantern-nav{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0px 0;
    position: relative;
    z-index: 1;
    bottom: 70px;
}

.lantern{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width: 20px;
    background-color: brown;
}

.short{
    height: 250px;
}

.long{
    height: 200px;
}

.lantern-button{
    height: 250px;
    width: 250px
}


footer{
    background-color: #600e17;
    height: 20%;
    text-align: center;
    width: 100%;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding: 10px;
    text-align: center;
}

footer h3{
    margin-top: 20px;
    
}

footer img{
    height: 40px;
    width: 40px;
    margin: 3px;
}

#socials{
    display: flex;
    flex-direction: column;
}

#copyright-container{
    width: 100%;
}

#copyright{
    text-align: center;
    color: white;
    width: fit-content;
    margin: 0 auto;
}

@media(max-width: 768px){
    #banner video{
        height: 300px;
    }

    #descrip{
        font-size: 18px;
    }

    #main-2{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #collage{
        flex: 0 0 30%;
        max-width: 80%;
        height: auto;
    }

    #three-big-words{
        flex: 100%;
        /* max-width: 90%; */
        align-items: center;
    }

    #three-big-words p{
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .logos-slide{
        animation:none !important;
    }

    .logos:before, .logos:after{
        background: none;
    }

    .logos-slide img{
        height: 60px;
    }

    .line{
        display: none;
    }

    .lantern-nav{
        flex-direction: column;
        margin-top: 90px;
        gap: 30px;
        justify-content: center;
        align-items:center;
    }

    .lantern-button{
        width: 150px;
        height: 150px;
    }

    .info{
        flex-direction: column;
    }
}

@media(max-width: 480px){
    #banner video{
        height: 200px;
    }

    #descrip{
        font-size: 18px;
        padding: 20px 50px 10px 50px;
    }

    #main-2{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #collage{
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
    }
    
 #three-big-words{
        flex: 0 0 90%;
        max-width: 90%;
        align-items: center;
    }

    #three-big-words p{
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    #three-big-words{
        width: 100%;
        margin-right: 0;
        align-items: center;
    }

    #three-big-words p{
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .logos-slide{
        animation:none !important;
    }

    .logos:before, .logos:after{
        background: none;
    }

    .line{
        display: none;
    }

    .lantern-nav{
        flex-direction: column;
        margin-top: 90px;
        gap: 30px;
        justify-content: center;
        align-items:center;
    }

    .lantern-button{
        width: 150px;
        height: 150px;
    }

    .info{
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) and (min-width: 400px) {
   
    .logos{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding: 60px 0;
    }
}

