body{
    background-color: #ffddaa;
    margin: 0;
    padding: 0;
    /* background-image: url("../images/redCarpetBg1.png");
    background-size: cover;
    background-repeat: no-repeat; */
}

h2{
    font-family: "Satisfy", cursive;

}
h3, h4, h5, h6, p{
    font-family: "Ancizar Serif", serif;
}

#banner-container{
    position: relative;
    background-color: #325380;
    margin-bottom: 0;
}


nav{
    background-color: #002534;
    text-align: center;
}

.navbar a{
    color: white;
}

.navbar-toggler{
    border-color: white;
}

.blob-banner{
    background-color: #cb694e;
    height: 350px;
    width: 75%;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-circle1{
    border-radius: 50%;
    background-color: #b8320e;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 70px;
    left: 10%;
}

.banner-circle2{
    border-radius: 50%;
    background-color: #b8320e;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 370px;
    right: 10%;
}

#space{
    margin-top: 5%;
    background-color: black;
    height: 5px;
    position: relative;
    bottom: 15px;
}

#menu{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.menu-title{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

#menu-key{
    text-align: center;
    margin-top: 20px;

}

#menu-categories{
    padding: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

#menu-categories button{
    padding: 15px;
    border-radius: 15px;
    background-color: #600e17;
}

#menu-categories button a{
    text-decoration: none;
    color: white;
}
.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a79ab1;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    width: 500px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.menu-item img{
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

footer{
    background-color: #600e17;
    height: 20%;
    
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding: 10px;
    text-align: center;
}

footer h3{
    margin-top: 20px;
}

#copyright{
    text-align: center;
    color: white;
}

@media(max-width: 768px){
    .banner-circle1, .banner-circle2{
        display: none;
    }

    
    #menu-key{
        padding: 10px;
    }
    #menu{
        gap: 0 !important;
    }

    .info{
        flex-direction: column;
    }
}

@media(max-width: 480px){
    .banner-circle1, .banner-circle2{
        display: none;
    }



    
    #menu-categories{
        flex-direction: column;
        gap: 20px;
    }

    #menu-key{
        padding: 15px;
    }

    .menu-item{
        width: 100%;
    }

    #menu{
        gap: 0;
    }

    .menu-item{
        width: 100%;
    }

    .info{
        flex-direction: column;
    }
}